{% extends "Entrega/padre.html" %}

{% load static %}

{% block title %} Vendedores {% endblock %}

{% block titulo %} Listado de Vendedores {% endblock %}

{% block contenido_que_cambia %}

    <h2>Vendedores</h2>

    <main class="d-flex p-5">

        <div class="mx-2" style="max-width: 600px;">
            <!-- FORMULARIO -->
            <form action="{% url 'listado_vendedores' %}" method="post" class="d-flex flex-column">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Guardar" class="btn btn-success btn-sm mt-2">
            </form>
            <h5 class="mt-5">{{ mensaje }}</h5>
        </div>

        <div class="d-flex flex-column mx-2 p-2">

            {% if vendedores %}
            <div class="d-flex justify-content-end mb-1">
                <form action="{% url 'buscar_vendedor' %}" method="post" class="d-flex">
                    {% csrf_token %}
                    <input type="text" name="busqueda" id="busqueda" placeholder="Ingresa un nombre ..." class="form-control">
                    <input type="submit" value="Buscar" class="btn btn-outline-success btn-sm mx-2">
                </form>
            </div>

            <table class="table table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Seccion</th>
                        <th><div class="d-flex justify-content-center">Acciones</div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for vendedor in vendedores %}
                    <tr>
                        <td>{{ vendedor.nombre }}</td>
                        <td>{{ vendedor.apellido }}</td>
                        <td>{{ vendedor.email }}</td>
                        <td><strong>{{ vendedor.seccion }}</strong></td>
                        <td class="p-2">
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'editar_vendedor' vendedor.id %}" class="btn btn-success btn-sm mx-1">Editar</a>
                                <a href="{% url 'eliminar_vendedor' vendedor.id %}" class="btn btn-danger btn-sm  mx-1">Borrar</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}

                <div class="alert alert-danger h-25" role="alert">
                    No existen registros!
                </div>

            {% endif %}
        </div>

    </main>


{% endblock %}